controller/src/main/resources/NewspaperDTO.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://services.memorynotfound.com/"
           elementFormDefault="qualified">
    <xs:complexType name="NewspaperRequest">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="publosher" type="xs:string"/>
            <xs:element name="year" type="xs:int"/>
            <xs:element name="issue" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>